<div class="page page-ng-table">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href ng-click="getPromotions()">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<div class="row">
							<div class="col-md-12 mb-5">
								<label for="selZone" class="col-md-2 control-label" >Zona</label>
								<div class="col-md-2">
									<ui-select class="bg-red-ps br-15 b-0" multiple ng-model="page.zone.selectedZone" theme="bootstrap" sortable="true" close-on-select="false">
									<ui-select-match placeholder="Seleccionar zona...">{{$item.name}}</ui-select-match>
									<ui-select-choices repeat="zone in page.zones | propsFilter: {name: $select.search}">
									<div ng-bind-html="zone.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>

						<label for="selDealer" class="col-md-1 control-label">Dealer</label>
						<div class="col-md-2">
							<ui-select class="bg-orange-ps br-15 b-0" multiple ng-model="page.dealer.selectedDealer" theme="bootstrap" sortable="true" close-on-select="false">
							<ui-select-match placeholder="Seleccionar dealer...">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="dealer in page.dealers | propsFilter: {name: $select.search}">
							<div ng-bind-html="dealer.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>

		<hr class="mt-10 mb-10">

		<div class="row">
			<div class="col-md-12 mb-5">
				<label for="selUser" class="col-md-2 control-label" >Usuario</label>
				<div class="col-md-4">
					<ui-select ng-change="hola()" class="bg-blue-ps br-15 b-0" multiple ng-model="page.user.selectedUser" theme="bootstrap" sortable="true" close-on-select="false">
					<ui-select-match placeholder="Seleccionar usuario...">{{$item.fullName}}</ui-select-match>
					<ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
					<div ng-bind-html="user.fullName | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
</div>
<hr class="mt-10 mb-10">
<div class="row">
	<div class="col-md-12 mb-5">
		<label for="selZone" class="col-md-2 control-label" >Fecha inicio/fin</label>
		<div class="col-md-10">
			<button  class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" daterangepicker="rangeOptions" date-begin="page.startDate" date-end="page.endDate">
				<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{page.startDate}} - {{page.endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
			</button>
		</div>
	</div>
</div>
<hr class="mt-10 mb-10">
<div class="row">
	<div class="col-md-12 mb-5">
		<div class="form-group">
			<label class="col-md-2 control-label" >Asunto/Título</label>
			<div class="col-md-9">
				<div class="form-group">
					<input type="text" class="form-control underline-input" ng-mode="page.subject" placeholder="Agregar asunto/título">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<text-angular ng-model="page.html"></text-angular>
	</div>
</div>

</div>
<!-- /tile body -->

<div class="tile-footer">
	<button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="createPromotion()">Enviar promoción &nbsp;&nbsp;<i class="fa fa-envelope-o"></i></button>
</div>

</section>
<!-- /tile -->

</div>
<!-- /col -->


</div>
<!-- /row -->





</div>
<!-- /page content -->

</div>
