<div class="p-0 page page-core page-login">

	<img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/top_login2.png" style="width: 100%;top:0;position:fixed">
	<div class="mt-70">
		<div class="text-center"><img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/s2go2-logo3.png" alt="play_logo"></div>

		<div class="container w-420 p-20 bg-blue-ps-3 mt-20 text-center br-25">

			<h2 class="text-light text-black">Error <strong>404</strong></h2>

			<h4 class="mb-0 mt-40  text-black">Página no encontrada :(</h4>

		</div>
	</div>
  <img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/bottom_login.png" style="width: 100%;bottom:0;position:fixed">

</div>
