<div class="page page-core page-login">

	<div class="text-center"><img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/s2go2-logo3.png" alt="play_logo"></div>

	<div class="container w-420 p-20 bg-blue-ps-2 mt-40 text-center br-25">


		<h2 class="text-light text-white">Reestablecer contraseña</h2>

		<h4 class="text-light text-{{page.msg.color}} " ng-show="page.msg.show"> {{page.msg.text}} </h4>
		<a class="text-center" style="color: #f19122" ui-sref="core.login" ng-show="page.anchor.show">{{page.anchor.text}}</a>

		<form name="form" class="form-validation mt-20" novalidate>

			<p class="help-block text-left">
				 Ingresa el código que se indica en el correo.
			</p>

			<div class="form-group">
			 <input type="text" class="form-control rounded" placeholder="Código..." ng-model="user.token.text" ng-change="removeMsg()"  ng-disabled="user.token.disabled" required>
			</div>

			<div class="form-group">
			 <input type="password" class="form-control rounded" placeholder="Nueva contraseña..." ng-model="user.password.text" ng-change="removeMsg()"  ng-disabled="user.password.disabled" required>
			</div>

			<div class="form-group">
			 <input type="password" class="form-control rounded" placeholder="Repita nueva contraseña..." ng-model="user.passwordConfirmation.text" ng-change="removeMsg()" ng-disabled="user.passwordConfirmation.disabled" required>
			</div>


		</form>

		<div class="form-group text-center mt-20">
			<button type="submit" class="btn btn-blue-ps-1 b-0 br-20 mr-5 text-md pl-20 pr-20" ng-click="validateToken()" ng-disabled='form.$invalid || page.reestablishBtn.disabled'>Reestablecer</button>
		</div>

	</div>

</div>
