<div class="p-0 page page-core page-login">

  <img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/top_login2.png" style="width: 100%;top:0;position:fixed">
  <div class="mt-70">
    <div class="text-center"><img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/s2go2-logo3.png" alt="play_logo"></div>

    <div class="container w-420 p-20 bg-blue-ps-3 mt-20 text-center br-25">

      <h2 class="text-light text-black mt-15">Crear Cuenta</h2>

      <h3 class="text-light text-{{page.elements.message.color}}" ng-show="page.elements.message.show">{{page.elements.message.text}}</h3>
      <h4 class="text-light text-{{page.elements.submessage.color}}" ng-show="page.elements.submessage.show">{{page.elements.submessage.text}}</h4>

      <form name="form" class="form-validation mt-20" novalidate>

        <div class="form-group">
          <input type="email" class="form-control rounded" placeholder="Email" ng-model="page.elements.newUser.email.text" disabled required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control rounded" placeholder="Rut" ng-model="page.elements.newUser.rut.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-blur="formatRut(page.elements.newUser.rut.text)" ng-disabled="page.elements.newUser.rut.disabled" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control rounded" placeholder="Nombre" ng-model="page.elements.newUser.firstName.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-disabled="page.elements.newUser.firstName.disabled" required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control rounded" placeholder="Apellido" ng-model="page.elements.newUser.lastName.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-disabled="page.elements.newUser.lastName.disabled" required>
        </div>

        <div class="form-group">
          <input type="tel" class="form-control rounded" placeholder="Celular" ng-model="page.elements.newUser.phoneNumber.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-disabled="page.elements.newUser.phoneNumber.disabled">
        </div>

        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control rounded" ng-model="page.elements.newUser.password.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-disabled="page.elements.newUser.password.disabled" required>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control rounded" ng-model="page.elements.newUser.passwordConfirmation.text" ng-change="removeMsg(); enableCreateAccountBtn()" ng-disabled="page.elements.newUser.passwordConfirmation.disabled" required>
        </div>

      </form>

      <div class="form-group text-center mt-20">
        <button type="submit" class="btn btn-blue-ps-1 text-white b-0 br-20 mr-5 text-md pl-20 pr-20" ng-click="saveAccount()" ng-disabled='page.elements.saveBtn.disabled || form.$invalid'>Guardar</button>
      </div>
    </div>
  </div>
  <img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/bottom_login.png" style="width: 100%;bottom:0;position:fixed">

</div>
