<div class="page">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></h2>

		<!-- <div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Usuarios</a>
				</li>
				<li>
					<a ui-sref="app.tables.bootstrap">{{page.title}}</a>
				</li>
			</ul>

		</div> -->

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">


		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">
				<p class="lead">Ingresa el mail de los usuarios que quieres invitar. Puede ser más de uno</p>
			</div>
			<!-- /col -->

		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">

				<ul class="list-unstyled">
					<li><p class="text-{{email.color}}" ng-repeat="email in responseInvitations"><fa name="{{email.icon}}"></fa> {{email.email}}</p></li>
				</ul>

				<form class="form-horizontal form-validation" name="form" novalidate>

					<div class="form-group" ng-repeat="formGroup in page.formGroups.invite">
						<div class="col-sm-4">

							<input class="form-control rounded" type="email" placeholder="Email de usuario..." ng-model="formGroup.email" ng-change="validateMailAndRol({{formGroup.index}})" required>

							<div style="display: inline-block">
								<label class="checkbox checkbox-custom-alt" style="display: inline-block; padding-right: 7px" ng-repeat="role in roles"> <input type="radio" value="{{role.id}}" name="{{formGroup.index}}" ng-model="formGroup.roleId" ng-change="validateMailAndRol({{formGroup.index}})" required><i></i> {{role.name}} </label>
							</div>

						</div>
						<label class="col-sm-1 control-label text-left text-orange-ps" ng-show="formGroup.showIcon"><fa name="{{formGroup.faIcon}}" style="cursor:pointer" ng-click="addFormGroup($index)"></fa></label>
					</div>

					<button class="btn btn-orange-ps br-20 text-md pl-20 pr-20" type="submit" ng-disabled="form.$invalid" ng-click="sendInvitations()">Enviar</button>
					
				</form>


			</div>
			<!-- /col -->

		</div>
		<!-- /row -->

	</div>
	<!-- /page content -->

</div>