<div class="page page-ng-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.users.list"> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Usuarios</a>
        </li>
        <li>
          <a ui-sref="app.users.list">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-12">


        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen06">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">

                <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
                    </a>
                  </li>
                  <li>
                    <a href ng-click="getUsers()">
                      <fa name="refresh"></fa> Refrescar
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                      <fa name="expand"></fa> Pantalla completa
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

            <table ng-table="tableParams" show-filter="true" class="table table-custom">
              <tr ng-repeat="user in $data">
                <td data-title="'Nombre'" sortable="'firstName'" filter="{ 'firstName': 'text' }">
                  {{user.firstName}}
                </td>
                <td data-title="'Apellido'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                  {{user.lastName}}
                </td>
                <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">
                  {{user.email}}
                </td>
                <td data-title="'Rol'" sortable="'roleName'" filter="{ 'roleName': 'text' }">
                  {{user.roleName}}
                </td>
                <td data-title="'Activo'" sortable="'active'" filter="{ 'active': 'text' }" class="text-center">
                  <img  ng-if="user.active" ng-src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/check2.png" style="width:24px">
                  <img  ng-if="!user.active" ng-src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/send2.png" style="width:24px; cursor:pointer" ng-click="resendInvitation(user.email, user.roleId, {success: true, detail: 'OK'})" uib-tooltip="Reenviar invitación">
                </td>
                <td data-title="'Info'">
                  <img ng-if="user.active" ng-click="openModalUserDetails(user.id)" src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/info2.png" style="width:24px; cursor:pointer" uib-tooltip="Más info">
                </td>
              </tr>
            </table>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->


    </div>
    <!-- /row -->

  </div>
  <!-- /page content -->

  <script type="text/ng-template" id="userDetails.html">
    <div class="modal-header text-gray">
      <h3 class="text-center">{{elements.title}}</h3>
    </div>
    <div class="modal-body text-gray">
      <div class="alert alert-{{elements.alert.color}}" ng-show="elements.alert.show"> <h4 class="text-md"><strong>{{elements.alert.title}}</strong></h4> {{elements.alert.text}} </div>
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" ng-src="{{user.image}}" alt="profile-pic">
        </div>
        <div class="col-md-7">
          <form name="form" class="form-validation form-horizontal" role="form" novalidate>
            <div class="form-group">
              <label for="userFirstName" class="col-sm-3 control-label">Nombre</label>
              <div class="col-md-8">
                <input type="text" id="userFirstName" class="form-control underline-input" placeholder="Nombre de usuario..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="userLastName" class="col-sm-3 control-label">Apellido</label>
              <div class="col-md-8">
                <input type="text" id="userLastName" class="form-control underline-input" placeholder="Apellido de usuario..." ng-model="user.lastName.text" ng-disabled="user.lastName.disabled" ng-change="hideAlert()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="userEmail" class="col-sm-3 control-label">Email</label>
              <div class="col-md-8">
                <input type="text" id="userEmail" class="form-control underline-input" placeholder="Email de usuario..." ng-model="user.email.text" ng-disabled="user.email.disabled" required>
              </div>
            </div>
            <div class="form-group">
              <label for="userRut" class="col-sm-3 control-label">Rut</label>
              <div class="col-md-8">
                <input type="text" id="userRut" class="form-control underline-input" placeholder="Rut de usuario..." ng-model="user.rut.text" ng-disabled="user.rut.disabled" ng-blur="formatRut(user.rut.text)" ng-change="hideAlert()">
              </div>
            </div>
            <div class="form-group">
              <label for="userPhoneNumber" class="col-sm-3 control-label">Teléfono</label>
              <div class="col-md-8">
                <input type="text" id="userPhoneNumber" class="form-control underline-input" placeholder="Teléfono..." ng-model="user.phoneNumber.text" ng-disabled="user.phoneNumber.disabled" ng-change="hideAlert()" >
              </div>
            </div>
            <div class="form-group">
              <label for="userPhoneNumber" class="col-sm-3 control-label">Teléfono de emergencia</label>
              <div class="col-md-8">
                <input type="text" id="userEmergencyPhone" class="form-control underline-input" placeholder="Teléfono de emergencia..." ng-model="user.emergencyPhone.text" ng-disabled="user.emergencyPhone.disabled" ng-change="hideAlert()" >
              </div>
            </div>
            <div class="form-group">
              <label for="userPhoneNumber" class="col-sm-3 control-label">Fecha inicio contrato</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" uib-datepicker-popup="dd-MMMM-yyyy" class="form-control" ng-model="user.contractDate.value" is-open="user.contractDate.isOpen" ng-disabled="user.contractDate.disabled" datepicker-options=""/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default " ng-click="user.contractDate.isOpen=!user.contractDate.isOpen" ng-disabled=""><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="userPhoneNumber" class="col-sm-3 control-label">Fecha termino contrato</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" uib-datepicker-popup="dd-MMMM-yyyy" class="form-control" ng-model="user.contractEndDate.value" is-open="user.contractEndDate.isOpen" ng-disabled="user.contractEndDate.disabled" datepicker-options=""/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default " ng-click="user.contractEndDate.isOpen=!user.contractEndDate.isOpen" ng-disabled=""><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="userAddress" class="col-sm-3 control-label">Dirección (particular)</label>
              <div class="col-md-8">
                <input type="text" id="userAddress" class="form-control underline-input" placeholder="Dirección..." ng-model="user.address.text" ng-disabled="user.address.disabled" ng-change="hideAlert()" >
              </div>
            </div>
            <div class="form-group">
              <label for="userRole" class="col-sm-3 control-label">Rol</label>
              <div class="col-md-8">
                <label class="checkbox checkbox-custom-alt" id="userRole" ng-repeat="role in roles">
                  <input type="radio" value="{{role.id}}" name="{{role.index}}" ng-model="user.role.id" ng-disabled="user.role.disabled" ng-change="hideAlert()" required><i></i> {{role.name}}
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="userRole" class="col-sm-3 control-label">Tiendas asignadas</label>
              <div class="col-md-8">
                <ul class="list-group"> 
                  <li class="list-group-item" ng-repeat="tienda in user.stores" >{{tienda.attributes.name}}</li> 
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="userRole" class="col-sm-3 control-label">Dealers asignados</label>
              <div class="col-md-8">
                <ul class="list-group"> 
                  <li class="list-group-item" ng-repeat="dealer in user.dealers" >{{dealer.attributes.name}}</li> 
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="userRole" class="col-sm-3 control-label">Zonas asignadas</label>
              <div class="col-md-8">
                <ul class="list-group"> 
                  <li class="list-group-item" ng-repeat="zone in user.zones" >{{zone.attributes.name}}</li> 
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-rounded-10 {{elements.buttons.removeUser.border}} mb-10" type="button" ng-click="removeUser(user.id, {success: true,detail: 'OK'})" >{{elements.buttons.removeUser.text}}</button>
      <button class="btn btn-blue-ps-1 text-blue-ps-1 btn-border btn-rounded-10 mb-10" type="button" ng-click="editUser(user.id, {success: true, detail: 'OK'})" >{{elements.buttons.editUser.text}}</button>
      <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
    </div>
  </script>

  <script type="text/ng-template" id="sendInvitation.html">
    <div class="modal-body text-gray text-center ">
      <img class="img-responsive center-block mt-10 mb-20" src="images/envelope.png" width="75" alt="envelope_img">
      <h4>La invitación a <strong>{{user.email}}</strong> ha sido reenviada</h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default btn-rounded-10 " type="button" ng-click="ok()" >Cerrar</button>
    </div>
  </script>

</div>
