<div class="page page-dashboard">

	<div class="overlay" ng-show="page.loader.show">
		<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
			<div>
				<p><strong>Descargando archivo...</strong></p>
				<p class="text-center">
					<img src="images/loader.gif" alt="loader" class="size-45x45">
				</p>
			</div>
		</div>
	</div>

	<div class="pageheader">

		<h2>{{page.title}}</h2>

		<div class="row">
			<div class="col-md-1 col-md-offset-10">
				<button class="bg-blue-ps-1 btn-border pt-7 pb-7 pr-12 pl-12 br-10 b-0 text-white pull-right" uib-tooltip="Cargar ventas B2B (.csv)" ng-click="openModalUploadGoals()"><i class="fa fa-cloud-upload"></i> </button>
			</div>
			<div class="col-md-1 col-md-offset-0">
				<a id="excelBtn" ng-href="" class="bg-blue-ps-2 btn-border pt-7 pb-7 pr-12 pl-12 br-10 b-0 text-white pull-right" uib-tooltip="Descargar resumen (.xls)" ng-click="getExcel({success:true,detail:'OK'})" ng-class="{disabled:page.buttons.getExcel.disabled,pointer:!page.buttons.getExcel.disabled}"><i class="fa fa-file-excel-o"></i> </a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.zone.selected" close-on-select="true" ng-change="getDealers({success:true,detail:'OK'},page.filters.zone.selected);getDashboardInfo({success:true,detail:'OK'})" title="Zonas">
					<ui-select-match placeholder="Seleccionar zona..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="zone in page.filters.zone.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="zone.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.dealer.selected" close-on-select="true" ng-change="getStores({success:true,detail:'OK'},page.filters.zone.selected,page.filters.dealer.selected);getDashboardInfo({success:true,detail:'OK'})" ng-disabled="page.filters.dealer.disabled" title="Dealers">
					<ui-select-match placeholder="Seleccionar dealer..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="dealer in page.filters.dealer.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="dealer.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="blue-ps-2 br-15 b-0" ng-model="page.filters.store.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.store.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Tiendas">
					<ui-select-match placeholder="Seleccionar tienda..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="store in page.filters.store.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="store.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-2 br-15 b-0" ng-model="page.filters.instructor.selected" close-on-select="true" ng-disabled="page.filters.instructor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Instructores">
					<ui-select-match placeholder="Seleccionar instructor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.instructor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Supervisores">
					<ui-select-match placeholder="Seleccionar supervisor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<div class="input-group">
					<!-- <button id="daterangeDashGoals" class="bg-gray-ps-1 pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" daterangepicker="page.filters.dateRange.options" date-begin="page.filters.dateRange.startDate" date-end="page.filters.dateRange.endDate">
						<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{page.filters.dateRange.startDate | date: 'dd/MM/yyyy'}} - {{page.filters.dateRange.endDate | date: 'dd/MM/yyyy'}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
					</button> -->

					<input style="cursor:pointer" id="daterangeDashGoals2" date-range-picker class="bg-gray-ps-1 br-15 text-sm form-control b-0 date-picker" type="text" ng-model="page.filters.dateRange.date" options="page.filters.dateRange.options" />
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-12">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Metas </strong>Metas v/s Ventas</h1>
				</div>
				<div class="tile-widget">

					<highchart config="page.goals.monthlySalesVsGoals.chartConfig" ng-show="page.goals.monthlySalesVsGoals.chartConfig.xAxis.categories.length"></highchart>

					<h3 class="text-orange-ps text-center" ng-show="!page.goals.monthlySalesVsGoals.chartConfig.xAxis.categories.length">No se encontraron datos</h3>

					<div ng-show="page.goals.monthlySalesVsGoals.table.headers.length">
						<hr>
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th ng-repeat="header in page.goals.monthlySalesVsGoals.table.headers track by $index">{{header}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-bold">Meta</td>
									<td ng-repeat="data in page.goals.monthlySalesVsGoals.table.row1 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr>
									<td class="text-bold">Venta</td>
									<td ng-repeat="data in page.goals.monthlySalesVsGoals.table.row2 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr>
									<td class="text-bold">Cumpl. L</td>
									<td ng-repeat="data in page.goals.monthlySalesVsGoals.table.row3 track by $index" class="text-blue-ps-2">{{data * 100 | number:1}} %</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h3></h3>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-12">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Comparación semanal </strong>W-pasada y W-actual</h1>
				</div>
				<div class="tile-widget">

					<highchart config="page.goals.lastWeekComparison.chartConfig" ng-show="page.goals.lastWeekComparison.chartConfig.xAxis.categories.length"></highchart>

					<h3 class="text-orange-ps text-center" ng-show="!page.goals.lastWeekComparison.chartConfig.xAxis.categories.length">No se encontraron datos</h3>


					<div ng-show="page.goals.lastWeekComparison.table.headers.length">
						<hr>
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th class="text-center" ng-repeat="header in page.goals.lastWeekComparison.table.headers track by $index">{{header}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-bold">{{page.goals.lastWeekComparison.table.lastWeekOfYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.lastWeekComparison.table.row1 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr >
									<td class="text-bold">{{page.goals.lastWeekComparison.table.currentWeekOfYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.lastWeekComparison.table.row2 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr>
									<td class="text-bold">Growth</td>
									<td class="text-center" ng-repeat="data in page.goals.lastWeekComparison.table.row3 track by $index" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}">{{data * 100 | number:1}} %</td>
								</tr>
								<tr>
									<td style="border-top:0"></td>
									<td class="text-center" style="border-top:0" ng-repeat="data in page.goals.lastWeekComparison.table.row3">
										<i class="fa fa-circle" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-12">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Comparativos de venta </strong>Semanal</h1>
				</div>
				<div class="tile-widget">

					<highchart config="page.goals.weeklySalesComparison.chartConfig" ng-show="page.goals.weeklySalesComparison.chartConfig.xAxis.categories.length"></highchart>

					<h3 class="text-orange-ps text-center" ng-show="!page.goals.weeklySalesComparison.chartConfig.xAxis.categories.length">No se encontraron datos</h3>

					<div ng-show="page.goals.weeklySalesComparison.table.headers.length">
						<hr>
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th class="text-center" ng-repeat="header in page.goals.weeklySalesComparison.table.headers track by $index">{{header}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-bold">{{page.goals.weeklySalesComparison.table.lastYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.weeklySalesComparison.table.row1 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr >
									<td class="text-bold">{{page.goals.weeklySalesComparison.table.currentYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.weeklySalesComparison.table.row2 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr>
									<td class="text-bold">Growth</td>
									<td class="text-center" ng-repeat="data in page.goals.weeklySalesComparison.table.row3 track by $index" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}">{{data * 100 | number:1}} %</td>
								</tr>
								<tr>
									<td style="border-top:0"></td>
									<td class="text-center" style="border-top:0" ng-repeat="data in page.goals.weeklySalesComparison.table.row3  track by $index">
										<i class="fa fa-circle" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-12">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Comparativos de venta </strong>Mensual</h1>
				</div>
				<div class="tile-widget">

					<highchart config="page.goals.monthlySalesComparison.chartConfig" ng-show="page.goals.monthlySalesComparison.chartConfig.xAxis.categories.length"></highchart>

					<h3 class="text-orange-ps text-center" ng-show="!page.goals.monthlySalesComparison.chartConfig.xAxis.categories.length">No se encontraron datos</h3>



					<div ng-show="page.goals.monthlySalesComparison.table.headers.length">
						<hr>
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th class="text-center" ng-repeat="header in page.goals.monthlySalesComparison.table.headers track by $index">{{header}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-bold">{{page.goals.monthlySalesComparison.table.lastYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.monthlySalesComparison.table.row1 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr >
									<td class="text-bold">{{page.goals.monthlySalesComparison.table.currentYearName}}</td>
									<td class="text-center" ng-repeat="data in page.goals.monthlySalesComparison.table.row2 track by $index">{{data | currency:'$ ':0}}</td>
								</tr>
								<tr>
									<td class="text-bold">Growth</td>
									<td class="text-center" ng-repeat="data in page.goals.monthlySalesComparison.table.row3 track by $index" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}">{{data * 100 | number:1}} %</td>
								</tr>
								<tr>
									<td style="border-top:0"></td>
									<td class="text-center" style="border-top:0" ng-repeat="data in page.goals.monthlySalesComparison.table.row3  track by $index">
										<i class="fa fa-circle" ng-class="{'text-red': data<=0,'text-danger':data>0 && data<0.5,'text-success':data>=0.5}"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->
	</div>

</div>

<script type="text/ng-template" id="uploadGoalsModal.html">

	<div class="overlay br-30" ng-show="modal.overlay.show">
		<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
			<div>
				<p><strong>Subiendo el archivo...</strong></p>
				<p class="text-center">
					<img src="images/loader.gif" alt="loader" class="size-45x45">
				</p>
			</div>
		</div>
	</div>

	<div class="modal-header text-gray" id="topModalNewMonthlyGoal">
		<h3 class="text-center">Carga de ventas B2B</h3>
	</div>

	<div class="modal-body text-gray">

		<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" name="form" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">Archivo</label>
						<div class="col-sm-8">
							<input class="form-control" type="file" file-model="modal.goals.file.value" ng-disabled="" accept=".xls,.xlsx,.csv,.txt" ng-model="modal.csvFile" ng-change="removeAlert()" valid-file required>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-success btn-rounded-10 mb-10" type="button" ng-disabled="form.$invalid" ng-click="uploadGoals({success: true,detail: 'OK'})" >Cargar</button>
		<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
	</div>
</script>

<script type="text/ng-template" id="summary.html">

	<div class="modal-header text-gray">
		<h3 class="text-center">Resumen</h3>
	</div>

	<div class="modal-body">

		<ul>

			<li>
				<ng-pluralize count="modal.countCreated" when="{'0': 'No se ingresaron metas nuevas','one': '{} meta se ingresó','other': '{} metas se ingresaron'}"></ng-pluralize>
			</li>
			<li>
				<ng-pluralize count="modal.countChanged" when="{'0': 'No se actualizó ninguna meta','one': '{} meta se actualizó','other': '{} metas se actualizaron'}"></ng-pluralize>
			</li>
			<li>
				<ng-pluralize count="modal.countErrors" when="{'0': 'Ningún meta produjo error','one': '{} meta NO se ingresó (revise los detalles más abajo)','other': '{} metas NO se ingresaron (revise los detalles más abajo)'}"></ng-pluralize>
			</li>
		</ul>

		<hr>

		<div ng-show="modal.errors.length">

			<h4 class="text-center mb-20">Errores</h4>
			<ul ng-repeat="error in modal.errors">
				<li>
					<p>Error en la fila <strong>{{error.rowNumber + 1}}</strong></p>
					<!-- <p ng-switch="error.field">
						<p ng-switch-when="error de validación">Hubo un error de validación (<span ng-repeat="detail in error.details">{{detail}} </span>)</p>
						<p ng-switch-when="!error de validación">p>Revise el campo <strong>{{error.field}}</strong> (<span ng-repeat="detail in error.details">{{detail}} </span>)</p>
					</p> -->
					<p ng-if="error.field == 'error de validación'">Hubo un error de <strong>validación</strong> (<span ng-repeat="detail in error.details">{{detail}} </span>)</p>
					<p ng-if="error.field != 'error de validación'">Revise el campo <strong>{{error.field}}</strong> (<span ng-repeat="detail in error.details">{{detail}} </span>)</p>
					<!-- <p>Revise <strong>{{error.field}}</strong> (<span ng-repeat="detail in error.details">{{detail}} </span>)</p> -->
				</li>
			</ul>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn btn-default btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
	</div>

</script>

<script type="text/ng-template" id="messageModal.html">

	<div class="modal-header text-gray">
		<h3 class="text-center">{{modal.title}}</h3>
	</div>

	<div class="modal-body text-center">

		<h4>{{modal.text}}</h4>

	</div>

	<div class="modal-footer">
		<button class="btn btn-default btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
	</div>

</script>