<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}}</h2>

    <div class="row">
      <div class="col-md-12">
        <button class="bg-greensea btn-border pt-7 pb-7 pr-12 pl-12 br-10 b-0 text-white pull-right" uib-tooltip="Descargar resumen (.xls)"><i class="fa fa-file-excel-o"></i> </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 mt-5">
        <ui-select class="red-ps br-15 b-0" ng-model="page.filters.zone.selected" close-on-select="true" ng-change="getDealers({success:true,detail:'OK'},page.filters.zone.selected);getDashboardInfo({success:true,detail:'OK'})" title="Zonas">
          <ui-select-match placeholder="Seleccionar zona..."><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
          <ui-select-choices repeat="zone in page.filters.zone.list | propsFilter: {name: $select.search}">
            <div ng-bind-html="zone.name | highlight: $select.search | capitalize:true"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2 mt-5">
        <ui-select class="orange-ps br-15 b-0" ng-model="page.filters.dealer.selected" close-on-select="true" ng-change="getStores({success:true,detail:'OK'},page.filters.dealer.selected);getDashboardInfo({success:true,detail:'OK'})" ng-disabled="page.filters.dealer.disabled" title="Dealers">
          <ui-select-match placeholder="Seleccionar dealer..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
          <ui-select-choices repeat="dealer in page.filters.dealer.list | propsFilter: {name: $select.search}">
            <div ng-bind-html="dealer.name | highlight: $select.search | capitalize:true"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2 mt-5">
        <ui-select class="yellow-ps br-15 b-0" ng-model="page.filters.store.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.store.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Tiendas">
          <ui-select-match placeholder="Seleccionar tienda..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
          <ui-select-choices repeat="store in page.filters.store.list | propsFilter: {name: $select.search}">
            <div ng-bind-html="store.name | highlight: $select.search | capitalize:true"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2 mt-5">
        <ui-select class="blue-ps br-15 b-0" ng-model="page.filters.instructor.selected" close-on-select="true" ng-disabled="page.filters.instructor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Instructores">
          <ui-select-match placeholder="Seleccionar instructor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
          <ui-select-choices repeat="user in page.filters.instructor.list | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2 mt-5">
        <ui-select class="blue-ps br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Supervisores">
          <ui-select-match placeholder="Seleccionar supervisor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
          <ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2 mt-5">
        <div class="input-group">
          <input type="text" class="form-control bg-red-ps br-15-l b-0" uib-datepicker-popup="MMMM, yyyy" ng-model="page.filters.month.value" is-open="page.filters.month.isOpen" datepicker-options="{minMode: 'month'}" show-button-bar="false" ng-change="getDashboardInfo({success:true,detail:'OK'})" style="font-style: italic;font-size: 12px;"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default bg-red-ps br-15-r b-0 pt-7 pb-7" ng-click="page.filters.month.isOpen = !page.filters.month.isOpen"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- col -->
    <div class="col-md-7">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Promotores </strong>Visitas tiendas</h1>
        </div>

        <div class="tile-widget">
          <div class="bg-red-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 text-white inline-block">Total: 999</div>
          <div class="bg-orange-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Hoy: 10</div>
          <div class="bg-yellow-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Ayer: 20</div>
          <highchart class="mt-20" config="chartConfigStoreVisits"></highchart>
        </div>

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->

    <div class="col-md-5">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">
        <div class="tile-widget">
          <table class="table table-condensed mt-10">
            <thead>
              <tr>
                <th>Día semana</th>
                <th>Día</th>
                <th>Canridad reportes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lunes</td>
                <td>1</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Martes</td>
                <td>2</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Miercoles</td>
                <td>3</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Jueves</td>
                <td>4</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Viernes</td>
                <td>5</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Sábado</td>
                <td>6</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Domingo</td>
                <td>7</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Lunes</td>
                <td>8</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Martes</td>
                <td>9</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Miercoles</td>
                <td>10</td>
                <td>10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- /tile -->

    </div>
  </div>

  <div class="row">

    <!-- col -->
    <div class="col-md-7">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Registro de promotores </strong>Entrada y salida</h1>
        </div>

        <div class="tile-widget">
          <div class="bg-red-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 text-white inline-block">Total: 999</div>
          <div class="bg-orange-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Hoy: 10</div>
          <div class="bg-yellow-ps pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Ayer: 20</div>
          <highchart class="mt-20" config="chartConfigStoreVisits"></highchart>
        </div>

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->

    <div class="col-md-5">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">
        <div class="tile-widget">
          <table class="table table-condensed mt-10">
            <thead>
              <tr>
                <th>Día semana</th>
                <th>Día</th>
                <th>Canridad reportes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lunes</td>
                <td>1</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Martes</td>
                <td>2</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Miercoles</td>
                <td>3</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Jueves</td>
                <td>4</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Viernes</td>
                <td>5</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Sábado</td>
                <td>6</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Domingo</td>
                <td>7</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Lunes</td>
                <td>8</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Martes</td>
                <td>9</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Miercoles</td>
                <td>10</td>
                <td>10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- /tile -->

    </div>
  </div>


</div>
