<div class="page page-dashboard">

	<div class="overlay" ng-show="page.loader.show">
		<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
			<div>
				<p><strong>Descargando archivo...</strong></p>
				<p class="text-center">
					<img src="images/loader.gif" alt="loader" class="size-45x45">
				</p>
			</div>
		</div>
	</div>

	<div class="pageheader">

		<h2>{{page.title}}</h2>

		<div class="row">
			<div class="col-md-12">
				<a id="excelBtn" ng-href="" class="bg-blue-ps-2 btn-border pt-7 pb-7 pr-12 pl-12 br-10 b-0 text-white pull-right" uib-tooltip="Descargar resumen (.xls)" ng-click="getExcel({success:true,detail:'OK'})" ng-class="{disabled:page.buttons.getExcel.disabled,pointer:!page.buttons.getExcel.disabled}"><i class="fa fa-file-excel-o"></i> </a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.zone.selected" close-on-select="true" ng-change="getDealers({success:true,detail:'OK'},page.filters.zone.selected);" title="Zonas">
					<ui-select-match placeholder="Seleccionar zona..."><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="zone in page.filters.zone.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="zone.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.dealer.selected" close-on-select="true" ng-change="getStores({success:true,detail:'OK'},page.filters.zone.selected,page.filters.dealer.selected);" ng-disabled="page.filters.dealer.disabled" title="Dealers">
					<ui-select-match placeholder="Seleccionar dealer..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="dealer in page.filters.dealer.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="dealer.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="blue-ps-2 br-15 b-0" ng-model="page.filters.store.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.store.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Tiendas">
					<ui-select-match placeholder="Seleccionar tienda..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="store in page.filters.store.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="store.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-2 br-15 b-0" ng-model="page.filters.instructor.selected" close-on-select="true" ng-disabled="page.filters.instructor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Instructores">
					<ui-select-match placeholder="Seleccionar instructor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.instructor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Supervisores">
					<ui-select-match placeholder="Seleccionar supervisor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 mt-5">
				<div class="input-group">
					<!-- <input type="text" class="form-control bg-gray-ps-1 br-15-l b-0" uib-datepicker-popup="MMMM, yyyy" ng-model="page.filters.month.value" is-open="page.filters.month.isOpen" datepicker-options="page.filters.month.options" show-button-bar="false" ng-change="getDashboardInfo({success:true,detail:'OK'})" style="font-style: italic;font-size: 12px;"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default bg-gray-ps-1 br-15-r b-0 pt-7 pb-7" ng-click="page.filters.month.isOpen = !page.filters.month.isOpen"><i class="fa fa-calendar"></i></button>
					</span> -->
					<button id="daterangeDashPromoActiv" class="bg-gray-ps-1 pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" daterangepicker="page.filters.dateRange.options" date-begin="page.filters.dateRange.startDate" date-end="page.filters.dateRange.endDate">
						<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{page.filters.dateRange.startDate | date: 'dd/MM/yyyy'}} - {{page.filters.dateRange.endDate | date: 'dd/MM/yyyy'}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
					</button>
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-7">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Promotores </strong>Visitas tiendas</h1>
				</div>

				<div class="tile-widget">
					<div class="mt-10">
						<div class="bg-gray-ps-3 pt-7 pb-7 pr-20 pl-20 br-15 b-0 text-white inline-block">Total: {{page.promotors.storeVisits.countTotalReports}}</div>
						<div class="bg-blue-ps-1 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Hoy: {{page.promotors.storeVisits.countReportsToday}}</div>
						<div class="bg-blue-ps-2 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Ayer: {{page.promotors.storeVisits.countReportsYesterday}}</div>
					</div>
					<highchart class="mt-40" config="chartConfigStoreVisits"></highchart>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-5">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">Cantidad reportes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="report in page.promotors.mothlyReportsPerDay.latest15">
								<td>{{report.weekDay}}</td>
								<td class="text-center">{{report.monthDay}}</td>
								<td class="text-red-ps text-center">{{report.amount}}</td>
							</tr>
						</tbody>
					</table>
					<a ng-click="openModalMonthlyReportsPerDay(page.promotors.mothlyReportsPerDay.all,{thirdHeader:'Cantidad reportes'})" ng-class="{disabled:page.promotors.mothlyReportsPerDay.seeAll.disabled}"><p class="text-gray-ps-2 mt-10 mb-10 text-right">Ver más ></p></a>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-7">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Registro de promotores </strong>Entrada y salida</h1>
				</div>

				<div class="tile-widget">
					<div class="mt-10">
						<div class="bg-gray-ps-3 pt-7 pb-7 pr-20 pl-20 br-15 b-0 text-white inline-block">Total: {{page.promotors.registry.entranceAndExit.countTotalExits}}</div>
						<div class="bg-blue-ps-1 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Hoy: {{page.promotors.registry.entranceAndExit.countExitsToday}}</div>
						<div class="bg-blue-ps-2 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Ayer: {{page.promotors.registry.entranceAndExit.countExitsYesterday}}</div>
					</div>
					<highchart class="mt-40" config="chartConfigAccumulatedCheckins"></highchart>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-5">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">Cantidad salidas</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="checkin in page.promotors.registry.mothlyExitsPerDay.latest15">
								<td>{{checkin.weekDay}}</td>
								<td class="text-center">{{checkin.monthDay}}</td>
								<td class="text-gray-ps-2 text-center">{{checkin.amount}}</td>
							</tr>
						</tbody>
					</table>
					<a ng-click="openModalMonthlyReportsPerDay(page.promotors.registry.mothlyExitsPerDay.all,{thirdHeader:'Cantidad reportes'})"><p class="text-gray-ps-2 mt-10 mb-10 text-right">Ver más ></p></a>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-7">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Registro de promotores </strong>Horas trabajadas</h1>
				</div>

				<div class="tile-widget">
					<div class="mt-10">
						<div class="bg-gray-ps-3 pt-7 pb-7 pr-20 pl-20 br-15 b-0 text-white inline-block">Total: {{page.promotors.registry.hours.countTotalHours}}</div>
						<div class="bg-blue-ps-1 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Hoy: {{page.promotors.registry.hours.countHoursToday}}</div>
						<div class="bg-blue-ps-2 pt-7 pb-7 pr-20 pl-20 br-15 b-0 ml-10 text-white inline-block">Ayer: {{page.promotors.registry.hours.countHoursYesterday}}</div>
					</div>
					<highchart class="mt-40" config="chartConfigHours"></highchart>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-5">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">Horas</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hour in page.promotors.registry.mothlyHoursPerDay.latest15">
								<td>{{hour.weekDay}}</td>
								<td class="text-center">{{hour.monthDay}}</td>
								<td class="text-yellow-ps text-center">{{hour.amount}}</td>
							</tr>
						</tbody>
					</table>
					<a ng-click="openModalMonthlyReportsPerDay(page.promotors.registry.mothlyHoursPerDay.all,{thirdHeader:'Horas'})"><p class="text-gray-ps-2 mt-10 mb-10 text-right">Ver más ></p></a>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-6">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>HC a la fecha </strong>por Dealer</h1>
				</div>

				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th ROWSPAN="2">Dealer</th>
								<th class="text-center" colspan="2">PlayStation</th>
								<th class="text-center" colspan="2">Nintendo</th>
								<th class="text-center" colspan="2">XBox</th>
							</tr>
							<tr>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hcByDealer in page.promotors.headCounts.byDealer">
								<td>{{hcByDealer.name | capitalize:true}}</td>
								<td class="text-center text-gray-ps-2">{{hcByDealer.playstation.full}}</td>
								<td class="text-center">{{hcByDealer.playstation.part}}</td>
								<td class="text-center text-gray-ps-2">{{hcByDealer.nintendo.full}}</td>
								<td class="text-center">{{hcByDealer.nintendo.part}}</td>
								<td class="text-center text-gray-ps-2">{{hcByDealer.xbox.full}}</td>
								<td class="text-center">{{hcByDealer.xbox.part}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-6">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>HC a la fecha </strong>por Tienda</h1>
				</div>

				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10" ng-show="page.promotors.headCounts.byStore.length">
						<thead>
							<tr>
								<th ROWSPAN="2">Tienda</th>
								<th class="text-center" colspan="2">PlayStation</th>
								<th class="text-center" colspan="2">Nintendo</th>
								<th class="text-center" colspan="2">XBox</th>
							</tr>
							<tr>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
								<th class="text-center text-gray-ps-2">Full</th>
								<th class="text-center">PT</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hcByStore in page.promotors.headCounts.byStore">
								<td>{{hcByStore.name | capitalize:true}}</td>
								<td class="text-center text-gray-ps-2">{{hcByStore.playstation.full}}</td>
								<td class="text-center">{{hcByStore.playstation.part}}</td>
								<td class="text-center text-gray-ps-2">{{hcByStore.nintendo.full}}</td>
								<td class="text-center">{{hcByStore.nintendo.part}}</td>
								<td class="text-center text-gray-ps-2">{{hcByStore.xbox.full}}</td>
								<td class="text-center">{{hcByStore.xbox.part}}</td>
							</tr>
						</tbody>
					</table>
					<h3 class="text-gray-ps-2 text-center" ng-show="!page.promotors.headCounts.byStore.length">No se encontraron datos</h3>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-4">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Precios comunicados</strong></h1>
				</div>

				<div class="tile-widget">
					<p class="text-center text-md">Cumplimiento <strong>Hoy</strong></p>
					<div easypiechart options="page.promotors.pricesCommunicated.percenToday.options" percent="page.promotors.pricesCommunicated.percenToday.value" class="easypiechart block" style="width: 140px; height: 140px;" ng-show="page.promotors.pricesCommunicated.percenToday.show">
						<i class="fa fa-check fa-4x text-gray-ps-2" style="line-height: 140px;"></i>
					</div>
					<p class="text-elg text-center mt-20 mb-0" ng-show="page.promotors.pricesCommunicated.percenToday.show">
						<strong class="text-gray-ps-2">{{page.promotors.pricesCommunicated.percenToday.value}} %</strong>
					</p>
					<p class="text-md text-center mt-20 mb-0" ng-show="!page.promotors.pricesCommunicated.percenToday.show">
						<strong class="text-gray-ps-2">No se han registrado reportes hoy</strong>
					</p>

					<hr>

					<p class="text-center text-md">Cumplimiento <strong>Ayer</strong></p>
					<div easypiechart options="page.promotors.pricesCommunicated.percentYesterday.options" percent="page.promotors.pricesCommunicated.percentYesterday.value" class="easypiechart block" style="width: 140px; height: 140px;" ng-show="page.promotors.pricesCommunicated.percentYesterday.show">
						<i class="fa fa-check fa-4x text-gray-ps-2" style="line-height: 140px;"></i>
					</div>
					<p class="text-elg text-center mt-20 mb-0" ng-show="page.promotors.pricesCommunicated.percentYesterday.show">
						<strong class="text-gray-ps-2">{{page.promotors.pricesCommunicated.percentYesterday.value}} %</strong>
					</p>
					<p class="text-md text-center mt-20 mb-0" ng-show="!page.promotors.pricesCommunicated.percentYesterday.show">
						<strong class="text-gray-ps-2">No se registraron reportes ayer</strong>
					</p>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-8">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Precios comunicados </strong>Tiendas que no cumplen en el periodo seleccionado ({{page.filters.dateRange.startDate | date: 'dd/MM/yyyy'}} - {{page.filters.dateRange.endDate | date: 'dd/MM/yyyy'}})</h1>
				</div>

				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10" ng-show="page.promotors.pricesCommunicated.byStore.list.length">
						<thead>
							<tr>
								<th>Zona</th>
								<th>Dealer</th>
								<th>Tienda</th>
								<th>Supervisor</th>
								<th>Instructor</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="communicatedPrice in page.promotors.pricesCommunicated.byStore.list">
								<td>{{communicatedPrice.zoneName | capitalize:true}}</td>
								<td class="text-center text-gray-ps-2">{{communicatedPrice.dealerName | capitalize:true}}</td>
								<td class="text-center">{{communicatedPrice.storeName | capitalize:true}}</td>
								<td class="text-center">{{communicatedPrice.supervisor | capitalize:true}}</td>
								<td class="text-center">{{communicatedPrice.instructor | capitalize:true}}</td>
							</tr>
						</tbody>
					</table>
					<h3 ng-show="!page.promotors.pricesCommunicated.byStore.list.length" class="text-gray-ps-2 text-center">No se encontraron datos</h3>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-7">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Precios comunicados</strong> Al día</h1>
				</div>

				<div class="tile-widget">
					<highchart class="mt-40" config="pricesAnnouncementsDay"></highchart>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-5">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th>Día</th>
								<th>R. Cumplen</th>
								<th>R. Creados</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="day in page.promotors.pricesCommunicated.byDay.latest15">
								<td>{{day.weekDay}}</td>
								<td class="text-center">{{day.monthDay}}</td>
								<td class="text-center">{{day.numFulfilled}}</td>
								<td class="text-center text-yellow-ps">{{day.numTotal}}</td>
							</tr>
						</tbody>
					</table>
					<a ng-click="openModalAllDataTableCommunicatedPricesByDay(page.promotors.pricesCommunicated.byDay.all)"><p class="text-gray-ps-2 mt-10 mb-10 text-right">Ver más ></p></a>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-4">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Promociones comunicadas</strong></h1>
				</div>

				<div class="tile-widget">
					<p class="text-center text-md">Cumplimiento <strong>Hoy</strong></p>
					<div easypiechart options="page.promotors.promotionsCommunicated.percenToday.options" percent="page.promotors.promotionsCommunicated.percenToday.value" class="easypiechart block" style="width: 140px; height: 140px;" ng-show="page.promotors.promotionsCommunicated.percenToday.show">
						<i class="fa fa-check fa-4x text-gray-ps-2" style="line-height: 140px;"></i>
					</div>
					<p class="text-elg text-center mt-20 mb-0"><strong class="text-gray-ps-2" ng-show="page.promotors.promotionsCommunicated.percenToday.show">{{page.promotors.promotionsCommunicated.percenToday.value}} %</strong></p>
					<p class="text-md text-center mt-20 mb-0" ng-show="!page.promotors.promotionsCommunicated.percenToday.show">
						<strong class="text-gray-ps-2">No se han registrado reportes hoy</strong>
					</p>

					<hr>

					<p class="text-center text-md">Cumplimiento <strong>Ayer</strong></p>
					<div easypiechart options="page.promotors.promotionsCommunicated.percentYesterday.options" percent="page.promotors.promotionsCommunicated.percentYesterday.value" class="easypiechart block" style="width: 140px; height: 140px;" ng-show="page.promotors.promotionsCommunicated.percentYesterday.show">
						<i class="fa fa-check fa-4x text-blue-ps" style="line-height: 140px;"></i>
					</div>
					<p class="text-elg text-center mt-20 mb-0"><strong class="text-blue-ps" ng-show="page.promotors.promotionsCommunicated.percentYesterday.show">{{page.promotors.promotionsCommunicated.percentYesterday.value}} %</strong></p>
					<p class="text-md text-center mt-20 mb-0" ng-show="!page.promotors.promotionsCommunicated.percentYesterday.show">
						<strong class="text-gray-ps-2">No se han registrado reportes hoy</strong>
					</p>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-8">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Promociones comunicadas </strong>Tiendas que no cumplen</h1>
				</div>

				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10" ng-show="page.promotors.promotionsCommunicated.byStore.list.length">
						<thead>
							<tr>
								<th>Zona</th>
								<th>Dealer</th>
								<th>Tienda</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="communicatedPromotion in page.promotors.promotionsCommunicated.byStore.list">
								<td>{{communicatedPromotion.zoneName | capitalize:true}}</td>
								<td class="text-center text-gray-ps-2">{{communicatedPromotion.dealerName | capitalize:true}}</td>
								<td class="text-center">{{communicatedPromotion.storeName | capitalize:true}}</td>
							</tr>
						</tbody>
					</table>
					<h3 ng-show="!page.promotors.promotionsCommunicated.byStore.list.length" class="text-gray-ps-2 text-center">No se encontraron datos</h3>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">

		<!-- col -->
		<div class="col-md-7">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Promociones destacadas </strong>Al día</h1>
				</div>

				<div class="tile-widget">
					<highchart class="mt-40" config="promotions"></highchart>
				</div>

			</section>
			<!-- /tile -->

		</div>
		<!-- /col -->

		<div class="col-md-5">

			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget">
					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">R. cumplen</th>
								<th class="text-center">R. creados</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hour in page.promotors.promotionsCommunicated.byDay.latest15">
								<td>{{hour.weekDay}}</td>
								<td class="text-center">{{hour.monthDay}}</td>
								<td class="text-center">{{hour.numFulfilled}}</td>
								<td class="text-yellow-ps text-center">{{hour.numTotal}}</td>
							</tr>
						</tbody>
					</table>
					<a ng-click="openModalAllDataTableCommunicatedPricesByDay(page.promotors.promotionsCommunicated.byDay.all)"><p class="text-gray-ps-2 mt-10 mb-10 text-right">Ver más ></p></a>
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<script type="text/ng-template" id="viewAllDataTable.html">
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

			<div class="row">
				<div class="col-md-12">

					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">{{modal.headers.thirdHeader}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in modal.dataTable">
								<td>{{data.weekDay}}</td>
								<td class="text-center">{{data.monthDay}}</td>
								<td class="text-red-ps text-center">{{data.amount}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

	<script type="text/ng-template" id="allDataTableCommunicatedPricesByDay.html">
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

			<div class="row">
				<div class="col-md-12">

					<table class="table table-condensed table-hover mt-10">
						<thead>
							<tr>
								<th>Día semana</th>
								<th class="text-center">Día</th>
								<th class="text-center">R. Cumplen</th>
								<th class="text-center">R. Creados</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in modal.dataTable">
								<td>{{data.weekDay}}</td>
								<td class="text-center">{{data.monthDay}}</td>
								<td class="text-center">{{data.numFulfilled}}</td>
								<td class="text-center text-yellow-ps">{{data.numTotal}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>