<div class="page page-dashboard">
	<div class="overlay" ng-show="page.loader.show">
		<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
			<div>
				<p><strong>Descargando archivo...</strong></p>
				<p class="text-center">
					<img src="images/loader.gif" alt="loader" class="size-45x45">
				</p>
			</div>
		</div>
	</div>
	<div class="pageheader">
		<h2>{{page.title}}</h2>
		<div class="row">
			<div class="col-md-12">
				<a id="excelBtn" ng-href="" class="bg-blue-ps-2 btn-border pt-7 pb-7 pr-12 pl-12 br-10 b-0 text-white pull-right" uib-tooltip="Descargar resumen (.xlsx)" ng-click="getExcel({success:true,detail:'OK'})" ng-class="{disabled:page.buttons.getExcel.disabled,pointer:!page.buttons.getExcel.disabled}"><i class="fa fa-file-excel-o"></i> </a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.zone.selected" close-on-select="true" ng-change="getDealers({success:true,detail:'OK'},page.filters.zone.selected);getDashboardInfo({success:true,detail:'OK'})" title="Zonas">
					<ui-select-match placeholder="Seleccionar zona..."><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="zone in page.filters.zone.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="zone.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.dealer.selected" close-on-select="true" ng-change="getStores({success:true,detail:'OK'},page.filters.zone.selected,page.filters.dealer.selected);getDashboardInfo({success:true,detail:'OK'})" ng-disabled="page.filters.dealer.disabled" title="Dealers">
					<ui-select-match placeholder="Seleccionar dealer..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="dealer in page.filters.dealer.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="dealer.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="blue-ps-2 br-15 b-0" ng-model="page.filters.store.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.store.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Tiendas">
					<ui-select-match placeholder="Seleccionar tienda..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="store in page.filters.store.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="store.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-2 br-15 b-0" ng-model="page.filters.instructor.selected" close-on-select="true" ng-disabled="page.filters.instructor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Instructores">
					<ui-select-match placeholder="Seleccionar instructor..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.instructor.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="user.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Supervisores">
					<ui-select-match placeholder="Seleccionar supervisor..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="user.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.unit.selected" close-on-select="true" ng-disabled="page.filters.unit.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Unidades">
					<ui-select-match placeholder="Seleccionar unidad...">
						<span ng-bind="$select.selected.name | capitalize:true"></span>
					</ui-select-match>
					<ui-select-choices repeat="unit in page.filters.units.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="unit.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<div class="input-group">
					<input style="cursor:pointer" id="daterangeDashGoals2" date-range-picker class="bg-gray-ps-1 br-15 text-sm form-control b-0 date-picker" type="text" ng-model="page.filters.dateRange.date" options="page.filters.dateRange.options" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- col -->
		<div class="col-md-6">
			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Sell Out </strong></h1>
				</div>
				<div class="tile-widget">
					<highchart config="chartConfigSales"></highchart>
				</div>
			</section>
			<!-- /tile -->
		</div>
		<!-- /col -->
		<div class="col-md-6">
			<!-- tile -->
			<section class="tile" fullscreen="isFullscreen01">
				<div class="tile-widget pt-74 pb-74">
					<table class="table mt-10 text-sm">
						<thead>
							<tr>
								<th>Marca</th>
								<th>Hardware</th>
								<th>Accesorios</th>
								<th>Juegos</th>
								<th>Total</th>
							</tr>
						</thead>
						<tfoot>
							<tr class="text-orange-ps text-bold" ng-repeat="total in totalsSale">
								<td>{{total.title}}</td>
								<td></td>
								<td></td>
								<td></td>
								<td>{{total.totals}}</td>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="category in categories">
								<td>{{category.name}}</td>
								<td>{{category.hardware}}</td>
								<td>{{category.accessories}}</td>
								<td>{{category.games}}</td>
								<td><strong>{{category.total}}</strong></td>
							</tr>
						</tbody>
					</table>
					<!-- <a ui-sref="app.playStation.reports" class=""><p class="text-orange-ps mt-10 mb-10 text-right">Ver reportes ></p></a> -->
				</div>
			</section>
			<!-- /tile -->

		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<section class="tile" >

				<!-- tile header -->
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Share de Ventas </strong></h1>
				</div>
				<!-- /tile header -->

				<div class="tile-widget">
					<highchart config="chartConfigSalesBetweenConsoles"></highchart>
				</div>

			</section>
		</div>
		<div class="col-md-4">
			<section class="tile" >

				<!-- tile header -->
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Share de Ventas </strong></h1>
				</div>
				<!-- /tile header -->

				<div class="tile-widget">
					<div ng-repeat="zone in tableShareOfSalesAll" ng-if="zone.name == 'CENTRO' || zone.name == 'ORIENTE' ||zone.name == 'PONIENTE'">
						<table class="table table-borderless table-condensed mt-10" >
							<thead>
								<tr>
									<th style="width:50%">{{zone.name | capitalize:true}}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="company in zone.sales_by_company">
									<td>{{company.name}}</td>
									<td class="text-orange-ps">{{company.total_param}}</td>
								</tr>
							</tbody>
						</table>
						<hr>
					</div>
					<a ng-click="openModalViewAllSalesValues(tableShareOfSalesAll)" style="cursor:pointer"><p class="text-orange-ps mt-10 mb-10 text-right">Ver todos ></p></a>
				</div>

			</section>
		</div>
		<div class="col-md-2">
			<section class="tile">

				<!-- tile header -->
				<div class="tile-header dvd dvd-btm">
					<h2 class="custom-font"><strong>Share Global</strong></h2>
				</div>
				<!-- /tile header -->

				<div class="tile-widget">
					<div morris-donut-chart donut-data='donutData' style="height: 513px" data-formatter="$"></div>
				</div>

			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile" >

				<!-- tile header -->
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Productos más Vendidos </strong></h1>
				</div>
				<!-- /tile header -->

				<div class="tile-widget">
					<highchart ng-show="chartConfigPriceAndAmount.xAxis.categories.length" config="chartConfigPriceAndAmount"></highchart>
					<h3 ng-show="!chartConfigPriceAndAmount.xAxis.categories.length" class="text-center">No se han registrado productos más vendidos</h3>
				</div>

			</section>
			<!-- /tile -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile" >

				<!-- tile header -->
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Productos más Vendidos </strong>QTY</h1>
					<select class="pull-right" ng-options="category as category.name for category in topPorductsCategories" ng-model="selectedCategory" ng-change="getProductsByCategory(selectedCategory.name)"></select>
				</div>
				<!-- /tile header -->

				<div class="tile-widget">
					<table class="table table-condensed mt-10" ng-show="chartConfigPriceAndAmount.xAxis.categories.length">
						<thead>
							<tr >
								<th></th>
								<th class="text-center" ng-repeat="productName in topProducts.headers">{{productName}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Cantidad</td>
								<td class="text-center" ng-repeat="productQuiantity in topProducts.data track by $index">{{productQuiantity}}</td>
							</tr>
						</tbody>
					</table>
					<h3 ng-show="!chartConfigPriceAndAmount.xAxis.categories.length" class="text-center">No se han obtenido productos más vendidos</h3>
				</div>

			</section>
			<!-- /tile -->
		</div>

	</div>

	<!--div class="row">
		<div class="col-md-12">
			<section class="tile" fullscreen="isFullscreen01">

				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"><strong>Best Practice Semanales </strong></h1>
				</div>

				<div class="tile-widget">
					<div style="width:95%;margin:0 auto" ng-if="page.sales.bestPractices.loaded" >
						<slick dots=false infinite="true" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="1"  ng-show="page.sales.bestPractices.list.length">
							<div ng-repeat="image in page.sales.bestPractices.list">
								<div class="" ng-include="'imagesTmpl.html'"></div>
							</div>
						</slick>
					</div>
					<a ui-sref="app.images.list" style="cursor:pointer"><p class="text-orange-ps mt-10 mb-10 text-right">Ver todas ></p></a>
					<h3 class="text-center" ng-show="!page.sales.bestPractices.list.length">No se registraron fotos de best practices</h3>
				</div>

			</section>

		</div>
	</div-->

	<script type="text/ng-template" id="imagesTmpl.html">
		<a ng-href="{{image.src}}" target="_blank"><img src="{{image.src}}" alt="pic" style="width:100%"></a>
	</script>

	<script type="text/ng-template" id="viewAllShareOfSalesModal.html">
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

			<div class="row">
				<div class="col-md-12">
					<div ng-repeat="zone in modal.tableShareOfSalesAll">
						<table class="table table-borderless table-condensed mt-10" >
							<thead>
								<tr>
									<th style="width:50%">{{zone.name | capitalize:true}}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="company in zone.sales_by_company">
									<td>{{company.name}}</td>
									<td class="text-orange-ps">{{company.total_param}}</td>
								</tr>
							</tbody>
						</table>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

	<script type="text/ng-template" id="messageModal.html">

		<div class="modal-header text-gray">
			<h3 class="text-center">{{modal.title}}</h3>
		</div>

		<div class="modal-body text-center">

			<h4>{{modal.text}}</h4>

		</div>

		<div class="modal-footer">
			<button class="btn btn-default btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>

	</script>


</div>
