<div class="page page-ng-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Maestros</a>
        </li>
        <li>
          <a ui-sref="app.users.list">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-12">


        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen06">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
                    </a>
                  </li>
                  <li>
                    <a href ng-click="getChecklists({success: true,detail: 'OK'})">
                      <fa name="refresh"></fa> Refrescar
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                      <fa name="expand"></fa> Pantalla completa
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

            <div class="row">
              <div class="col-md-2">
                <button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white ml-20 mb-10" ng-click="gotoNewChecklist()" uib-tooltip="Crear nuevo checklist"><i class="fa fa-pencil-square-o"></i></button>
              </div>
            </div>

            <!-- <button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="gotoNewChecklist()">Nuevo checklist</button> -->

            <table ng-table="tableParams" show-filter="true" class="table table-custom">
              <tr ng-repeat="checklist in $data">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                  {{checklist.name}}
                </td>
                <td data-title="'Editar'" >
                  <img ng-click="gotoNewChecklist(checklist.id)" ng-src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/edit2.png" style="width:24px; cursor:pointer" uib-tooltip="Editar checklist {{checklist.name}}">
                </td>
                <td data-title="'Eliminar'" >
                  <img ng-click="openModalDeleteChecklist(checklist.id)" ng-src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/delete.png" style="width:19px; cursor:pointer" uib-tooltip="Eliminar checklist {{checklist.name}}">
                </td>
              </tr>
            </table>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


  </div>
  <!-- /row -->





</div>
<!-- /page content -->

<script type="text/ng-template" id="messageListChecklist.html">
  <div class="modal-body text-gray text-center">
    <img class="img-responsive center-block" src="images/delete.png" width="50" alt="delete_img">
    <h3>¿Seguro que deseas eliminar este checklist?</h3>
    <p>Al eliminar un checklist, se perderá toda la información contenida en éste. Verifica si quieres eliminar este checklist</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.delete.border}" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteChecklist({success: true,detail: 'OK'})" >{{modal.buttons.delete.text}}</button>    
    <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
  </div>
</script>

</div>
