<div class="page page-ng-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Maestros</a>
        </li>
        <li>
          <a ui-sref="app.users.list">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-12">


        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen06">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refrescar
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                      <fa name="expand"></fa> Pantalla completa
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

            <div class="row">
              <div class="col-md-2">
                <button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white ml-20 mb-10" ng-click="openModalCreateDealer()" uib-tooltip="Ingresar nuevo dealer"><i class="fa fa-pencil-square-o"></i></button>
              </div>
            </div>

            <!-- <button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="openModalCreateDealer()">Nuevo dealer</button> -->

            <table ng-table="tableParams" show-filter="true" class="table table-custom">
              <tr ng-repeat="dealer in $data">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                  {{dealer.name | capitalize:true}}
                </td>
                <td data-title="'Info'" >
                  <img ng-click="openModalCreateDealer(dealer.id)" src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/info2.png" style="width:24px; cursor:pointer" tooltip="Más info">
                </td>
              </tr>
            </table>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


  </div>
  <!-- /row -->





</div>
<!-- /page content -->

<script type="text/ng-template" id="createDealer.html">
  <div class="modal-header text-gray">
    <h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
  </div>
  <div class="modal-body text-gray">
    <div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputDealerName" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded" id="inputDealerName" placeholder="Nombre" ng-model="modal.dealer.name.text" ng-disabled="modal.dealer.name.disabled" ng-change="removeAlert()" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDealerContact" class="col-sm-2 control-label">Contacto</label>
            <div class="col-sm-10">
              <input type="email" class="form-control rounded" id="inputDealerContact" placeholder="email" ng-model="modal.dealer.contact.text" ng-disabled="modal.dealer.contact.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDealerPhone" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded" id="inputDealerPhone" placeholder="+56 9 11111111" ng-model="modal.dealer.phone.text" ng-disabled="modal.dealer.phone.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDealerAddress" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded" id="inputDealerAddress" placeholder="dirección #111" ng-model="modal.dealer.address.text" ng-disabled="modal.dealer.address.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Zonas</label>
            <div class="col-sm-10">
              <ui-select class="bg-white b-solid br-15" multiple ng-model="modal.zones.selectedZones" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="modal.zones.disabled" ng-change="removeAlert()">
                  <ui-select-match placeholder="Seleccionar zone...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="zone in modal.zones.zones | propsFilter: {name: $select.search}">
                  <div ng-bind-html="zone.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.create.border}" type="button" ng-show="modal.buttons.create.show" ng-click="createDealer({success: true,detail: 'OK'})" >{{modal.buttons.create.text}}</button>
    
    <button class="btn btn-warning btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.edit.border}" type="button" ng-show="modal.buttons.edit.show" ng-click="editDealer({success: true,detail: 'OK'})" >{{modal.buttons.edit.text}}</button>
    
    <button class="btn btn-danger btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.delete.border}" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteDealer({success: true,detail: 'OK'})" >{{modal.buttons.delete.text}}</button>
    
    <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
  </div>
</script>

</div>
