<div class="page page-ng-table">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Maestros</a>
				</li>
				<li>
					<a ui-sref="app.masters.monthly-goals">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" uib-dropdown on-toggle="toggled(open)">

								<a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a ng-href="" ng-click="getStockBreaks()">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="openModalNewMonthlyGoal()">Nueva meta</button>

						<table ng-table="tableParams" show-filter="true" class="table table-custom">
						 <!--  <tr ng-repeat="stockBreak in $data">
								<td data-title="'Tipo tienda'" sortable="'storeTypeName'" filter="{ 'storeTypeName': 'text' }">
									{{stockBreak.storeTypeName}}
								</td>
							</tr> -->
						</table>

					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->





	</div>
	<!-- /page content -->

	<script type="text/ng-template" id="newMonthlyGoal.html">
		<div class="modal-header text-gray" id="topModalNewMonthlyGoal">
			<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
		</div>
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
			
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-3 control-label">Mes</label>
							<div class="col-sm-8">
								<p class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="modal.monthlyGoal.date.value" is-open="modal.datepicker.opened" datepicker-options="{minMode: 'month'}" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Archivo</label>
							<div class="col-sm-8">
								<input class="form-control" type="file" ng-model="modal.monthlyGoal.file.value" ng-disabled="" accept=".xls,.xlsx,.csv,.txt" base-sixty-four-input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.create.border}" type="button" ng-show="modal.buttons.create.show" ng-click="createMonthlyGoal()" >{{modal.buttons.create.text}}</button>

			<button class="btn btn-warning btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.edit.border}" type="button" ng-show="modal.buttons.edit.show" ng-click="editStockBreak()" >{{modal.buttons.edit.text}}</button>

			<button class="btn btn-danger btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.delete.border}" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteStockBreak()" >{{modal.buttons.delete.text}}</button>

			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

	<script type="text/ng-template" id="summaryLoadMonthlyGoal.html">
		<div class="modal-header text-gray" id="topModalSummaryLoadMonthlyGoal">
			<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
		</div>
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
			
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
			
			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

</div>
