<div class="page page-ng-table">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Maestros</a>
				</li>
				<li>
					<a ui-sref="app.masters.monthly-goals">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" uib-dropdown on-toggle="toggled(open)">

								<a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a ng-href="" ng-click="getStockBreaks({success: true,detail: 'OK'})">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<div class="row">
							<div class="col-md-2">
								<button class="bg-blue-ps-1 pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white ml-20 mb-10" ng-click="openModalNewMonthlyGoal()" uib-tooltip="Cargar Metas"><i class="fa fa-cloud-upload"></i> </button>
							</div>
						</div>

						<div class="row mt-15">
							<div class="col-md-1">
								<label class="text-strong">Ver cargas del mes: </label>
							</div>
							<div class="col-md-2">
								<p class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="page.dateSearch.value" is-open="asd" datepicker-options="{minMode: 'month', showButtonBar: false}"  ng-change="getSaleGoalUploads({success: true,detail: 'OK'})"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="asd = !asd"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
						
						<h3 class="text-orange-ps text-center" ng-show="!tableParams.data.length">No hay cargas en el mes de <span>{{page.dateSearch.value | date:"MMMM" | uppercase}}</span> del año {{page.dateSearch.value | date:"yyyy"}}</h3>

						<table ng-table="tableParams" show-filter="true" class="table table-custom" ng-show="tableParams.data.length">
						  <tr ng-repeat="charge in $data" ng-if="flag">
								<td class="text-center" data-title="'Mes'" sortable="'month'" filter="{ 'month': 'text' }">
									{{charge.month}}
								</td>
								<td class="text-center" data-title="'Año'" sortable="'year'" filter="{ 'year': 'text' }">
									{{charge.year}}
								</td>
								<td class="text-center" data-title="'Fecha de carga'" sortable="'createdAt'" filter="{ 'createdAt': 'text' }">
									{{charge.createdAt | date: 'dd/MM/yyyy'}}
								</td>
								<td class="text-center" data-title="'Archivo subido'" sortable="'uploadedCsv'" filter="{ 'uploadedCsv': 'text' }">
									<a class="text-yellow-ps text-lg" ng-href="{{charge.uploadedCsv}}" uib-tooltip="descargar archivo subido" target="_blank"><i class="fa fa-cloud-download"></i></a>
								</td>
								<td class="text-center" data-title="'Archivo resumen'" sortable="'resultCsv'" filter="{ 'resultCsv': 'text' }">
									<a class="text-orange-ps text-lg" ng-href="{{charge.resultCsv}}" uib-tooltip="descargar archivo resumen" target="_blank"><i class="fa fa-cloud-download"></i></a>
								</td>
								<td class="text-center" data-title="'Filas ingresadas'" sortable="'rowsSuccesses'" filter="{ 'rowsSuccesses': 'text' }">
									<span class="text-success">{{charge.rowsSuccesses}}</span>
								</td>
								<td class="text-center" data-title="'Filas con error'" sortable="'rowsErrors'" filter="{ 'rowsErrors': 'text' }">
									<span class="text-danger">{{charge.rowsErrors}}</span>
								</td>
							</tr>
						</table>

					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->





	</div>
	<!-- /page content -->

	<script type="text/ng-template" id="newMonthlyGoal.html">

		<div class="overlay br-30" ng-show="modal.overlay.show">
			<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
				<div>
					<p><strong>Subiendo el archivo...</strong></p>
					<p class="text-center">
						<img src="images/loader.gif" alt="loader" class="size-45x45">
					</p>
				</div>
			</div>
		</div>

		<div class="modal-header text-gray" id="topModalNewMonthlyGoal">
			<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
		</div>
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
			
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-3 control-label">Mes</label>
							<div class="col-sm-8">
								<p class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="modal.monthlyGoal.date.value" is-open="modal.datepicker.opened" datepicker-options="{minMode: 'month', showButtonBar: false}" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Archivo</label>
							<div class="col-sm-8">
								<input class="form-control" type="file" file-model="modal.monthlyGoal.file.value" ng-disabled="" accept=".xls,.xlsx,.csv,.txt" ng-model="modal.monthlyGoal.file.value" ng-change="removeAlert()" valid-file required>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.create.border}" type="button" ng-show="modal.buttons.create.show" ng-click="createMonthlyGoal({success: true,detail: 'OK'})" >{{modal.buttons.create.text}}</button>

			<button class="btn btn-warning btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.edit.border}" type="button" ng-show="modal.buttons.edit.show" ng-click="editStockBreIngresarak({success: true,detail: 'OK'})" >{{modal.buttons.edit.text}}</button>

			<button class="btn btn-danger btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.delete.border}" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteStockBreak({success: true,detail: 'OK'})" >{{modal.buttons.delete.text}}</button>

			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

	<script type="text/ng-template" id="summaryLoadMonthlyGoal.html">
		<div class="modal-header text-gray" id="topModalSummaryLoadMonthlyGoal">
			<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
		</div>
		<div class="modal-body text-gray">

			<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
			
			<div class="row">
				<div class="col-md-12">

					<h4 class="text-center text-success">Éxitos - <b> {{modal.successes.count}}</b> metas insertadas</h4>
					<ul class="list-inline">
						<!-- Si el elemento no es el último, se escribe con una coma al final -->
						<li class="list-inline-item" ng-repeat="success in modal.successes.data" ng-if="!$last">{{success.storeCode}},</li>
						<!-- Si el elemento es el ultimo, se escribe, sin una coma al final  -->
						<li class="list-inline-item" ng-repeat="success in modal.successes.data" ng-if="$last">{{success.storeCode}}</li>
					</ul>
					<hr>

					<h4 class="text-center text-danger">Errores - <b>{{modal.errors.count}}</b> metas con error</h4>
					<table class="table table-hover" ng-show="modal.errors.data.length">
						<thead>
							<tr>
								<th>Fila</th>
								<th>Campo</th>
								<th>Descripción</th>
							</tr>Ingresar
						</thead>
						<tbody ng-repeat="error in modal.errors.data">
							<tr>
								<td>{{error.rowNumber}}</td>
								<!-- Si hay un error de codigo de store, se muestra -->
								<td ng-if="error.fields[0].name">{{error.fields[0].name}}</td>
								<td ng-if="error.fields[0].detail">{{error.fields[0].detail}}</td>
								
								<!-- si no hay un error de codigo de store, se muestra el error de monto -->
								<td ng-if="!error.fields[0].name">{{error.fields[1].name}}</td>
								<td ng-if="!error.fields[0].detail">{{error.fields[1].detail}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer">

			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>

</div>
