<div class="page page-ng-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Maestros</a>
        </li>
        <li>
          <a ui-sref="app.users.list">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-12">


        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen06">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refrescar
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                      <fa name="expand"></fa> Pantalla completa
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

          <button class="bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="openModalCreateProduct()">Nuevo producto</button>

          <table ng-table="tableParams" show-filter="true" class="table table-custom">
            <tr ng-repeat="product in $data" ng-dblclick="openModalCreateProduct(product.id)">
              <td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }" style="width:20px">
                {{product.id | cut:true:4:'...'}}
              </td>
              <td data-title="'Nombre'" sortable="'name'" filter="{ 'name': 'text' }">
                {{product.name}}
              </td>
              <td data-title="'Descipción'" sortable="'description'" filter="{ 'description': 'text' }" uib-popover="{{product.description}}">
                <span style="cursor:pointer">{{product.description | cut:true:5:'...'}}</span>
              </td>
              <td data-title="'SKU'" sortable="'sku'" filter="{ 'sku': 'text' }" uib-popover="{{product.sku}}">
                <span style="cursor:pointer">{{product.sku | cut:true:5:'...'}}</span>
              </td>
              <td data-title="'PLU'" sortable="'plu'" filter="{ 'plu': 'text' }" uib-popover="{{product.plu}}">
                <span style="cursor:pointer">{{product.plu | cut:true:5:'...'}}</span>
              </td>
              <td data-title="'ID Vigencia'" sortable="'validityCode'" filter="{ 'validityCode': 'text' }" uib-popover="{{product.validityCode}}">
                <span style="cursor:pointer">{{product.validityCode | cut:true:5:'...'}}</span>
              </td>
              <td data-title="'Creado el'" sortable="'createdAt'" filter="{ 'createdAt': 'text' }">
                {{product.createdAt | date:'dd/mm/yyyy'}}
              </td>
              <td data-title="'Tipo'" sortable="'typeName'" filter="{ 'typeName': 'text' }">
                {{product.typeName}}
              </td>
              <td data-title="'Marca'" sortable="'brand'" filter="{ 'brand': 'text' }">
                {{product.brand}}
              </td>
              <td data-title="'Precio mínimo'" sortable="'minPrice'" filter="{ 'minPrice': 'text' }">
                {{product.minPrice | currency:'$':0}}
              </td>
              <td data-title="'Precio máximo'" sortable="'maxPrice'" filter="{ 'maxPrice': 'text' }">
                {{product.maxPrice | currency:'$':0}}
              </td>
              <td data-title="'Destino'" sortable="'destinationName'" filter="{ 'destinationName': 'text' }">
                {{product.destinationName}}
              </td>
              <td data-title="'Top'" sortable="'isTop'" filter="{ 'isTop': 'text' }" ng-switch="{{product.isTop}}">
                <fa class="text-greensea" name="check" ng-switch-when="true"></fa>
                <fa class="text-danger" name="times" ng-switch-when="false"></fa>
              </td>
            </tr>
          </table>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


  </div>
  <!-- /row -->





</div>
<!-- /page content -->

<script type="text/ng-template" id="createProduct.html">
  <div class="modal-header text-gray" id="topModal">
    <h3 class="text-center">{{modal.title.text}}</h3><h2>{{modal.subtitle.text}}</h2>
  </div>

  <div class="modal-body text-gray">
    <div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputStoreName" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control rounded" id="inputStoreName" placeholder="Nombre" ng-model="modal.product.name.text" ng-disabled="modal.product.name.disabled" ng-change="removeAlert()" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputStoreContact" class="col-sm-3 control-label">Descripción</label>
            <div class="col-sm-8">
              <textarea rows="3" class="form-control br-10" placeholder="Descripción" ng-model="modal.product.description.text" ng-disabled="modal.product.description.disabled" ng-change="removeAlert()" style="resize:vertical"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMonthlyClp" class="col-sm-3 control-label">SKU</label>
            <div class="col-sm-8">
              <input type="text" class="form-control rounded" ng-model="modal.product.sku.text" ng-disabled="modal.product.sku.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">PLU</label>
            <div class="col-sm-8">
              <input type="text" class="form-control rounded" ng-model="modal.product.plu.text" ng-disabled="modal.product.plu.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Marca</label>
            <div class="col-sm-8">
              <input type="text" class="form-control rounded" ng-model="modal.product.brand.text" ng-disabled="modal.product.brand.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">ID Vigencia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control rounded" ng-model="modal.product.validityCode.text" ng-disabled="modal.product.validityCode.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Precio mínimo</label>
            <div class="col-sm-8">
              <input type="number" class="form-control rounded" ng-model="modal.product.minPrice.text" ng-disabled="modal.product.minPrice.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Precio máximo</label>
            <div class="col-sm-8">
              <input type="number" class="form-control rounded" ng-model="modal.product.maxPrice.text" ng-disabled="modal.product.maxPrice.disabled" ng-change="removeAlert()">
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-sm-3 control-label">Stock</label>
            <div class="col-sm-8">
              <input type="number" class="form-control rounded" ng-model="modal.product.stock.text" ng-disabled="modal.product.stock.disabled" ng-change="removeAlert()">
            </div>
          </div> -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Top</label>
            <div class="col-sm-8">
              <input type="checkbox" class="uiswitch custom" ng-model="modal.product.isTop.value" ng-disabled="modal.product.isTop.disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Visibilidad en APP</label>
            <div class="col-sm-8">
              <input type="checkbox" class="uiswitch custom" ng-model="modal.product.isListed.value" ng-disabled="modal.product.isListed.disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="selectMultiZone" class="col-sm-3 control-label">Tipo</label>
            <div class="col-sm-8">
              <ui-select class="bg-white b-solid br-15" ng-model="modal.product.type" sortable="true" ng-disabled="modal.product.type.disabled" ng-change="removeAlert()">
                <ui-select-match placeholder="Seleccionar tipo...">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="type in (modal.productTypes | filter: $select.search) track by type.id">
                  <span ng-bind="type.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <!-- {{modal.product.type}} -->
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Destino</label>
            <div class="col-sm-8">
              <ui-select class="bg-white b-solid br-15" ng-model="modal.product.destination" ng-disabled="modal.product.destination.disabled" ng-change="removeAlert()">
                <ui-select-match placeholder="Seleccionar destino...">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="destination in (modal.destinations | filter: $select.search) track by destination.id">
                  <span ng-bind="destination.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Plataforma</label>
            <div class="col-sm-8">
              <ui-select class="bg-white b-solid br-15" ng-model="modal.product.platform" ng-disabled="modal.product.platform.disabled" ng-change="removeAlert()">
                <ui-select-match placeholder="Seleccionar plataforma...">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="platform in (modal.platforms | filter: $select.search) track by platform.id">
                  <span ng-bind="platform.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-sm-3 control-label">Fotos</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" ng-model="modal.product.images.src" base-sixty-four-input ng-change="removeAlert()" ng-disabled="modal.product.images.disabled" ng-show="modal.product.images.show" multiple>
              <button class="btn btn-default" ng-click="openModalProductImages()" ng-show="!modal.product.images.show">Ver fotos del producto</button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.create.border}" type="button" ng-show="modal.buttons.create.show" ng-click="validateForm()" ng-disabled="modal.buttons.create.disabled">{{modal.buttons.create.text}}</button>
    
    <button class="btn btn-warning btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.edit.border}" type="button" ng-show="modal.buttons.edit.show" ng-click="validateForm()" ng-disabled="modal.buttons.edit.disabled">{{modal.buttons.edit.text}}</button>
    
    <button class="btn btn-danger btn-rounded-10 mb-10" ng-class="{'btn-border': modal.buttons.delete.border}" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteProduct()" ng-disabled="modal.buttons.delete.disabled">{{modal.buttons.delete.text}}</button>
    
    <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
  </div>
</script>

<script type="text/ng-template" id="productImages.html">
  <div class="modal-body"  slimscroll="{height: '100%'}">
    <div class="row">
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" alt="product_image"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="http://www.johnworldpeace.com/images/buddha017.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="http://www.johnworldpeace.com/images/buddha017.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="https://pixabay.com/static/uploads/photo/2016/01/14/01/41/image-view-1139205_960_720.jpg" target="_blank"><img class="img-responsive p-10" src="http://www.johnworldpeace.com/images/buddha017.jpg" alt="product_image"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="http://i.stack.imgur.com/Zk3YO.jpg" target="_blank"><img class="img-responsive p-10" src="http://i.stack.imgur.com/Zk3YO.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="http://i.stack.imgur.com/Zk3YO.jpg" target="_blank"><img class="img-responsive p-10" src="http://i.stack.imgur.com/Zk3YO.jpg" alt="product_image"></a>
        </div>
      </div>
      <div class="col-md-4">
      <div style="border: solid #D9D9D9 1px; margin-bottom: 10px">
          <a ng-href="http://i.stack.imgur.com/Zk3YO.jpg" target="_blank"><img class="img-responsive p-10" src="http://i.stack.imgur.com/Zk3YO.jpg" alt="product_image"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-cancelRecit btn-rounded" ng-click="cancel()">Cerrar</button>
  </div>
</script>
</div>
