<!--style type="text/css">
	.tooltip
	{
		width: 550px !important;
		height: auto;
		 white-space: pre-line;
	}
</style-->
<div class="page page-ng-table">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="row">
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.zone.selected" close-on-select="true" ng-change="getDealers({success:true,detail:'OK'},page.filters.zone.selected);getImages({success:true,detail:'OK'},pagination.pages._current)" title="Zonas">
					<ui-select-match placeholder="Seleccionar zona..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="zone in page.filters.zone.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="zone.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.dealer.selected" close-on-select="true" ng-change="getStores({success:true,detail:'OK'},page.filters.zone.selected,page.filters.dealer.selected);getImages({success:true,detail:'OK'},pagination.pages._current)" ng-disabled="page.filters.dealer.disabled" title="Dealers">
					<ui-select-match placeholder="Seleccionar dealer..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="dealer in page.filters.dealer.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="dealer.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="blue-ps-2 br-15 b-0" ng-model="page.filters.store.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.store.disabled" ng-change="getImages({success:true,detail:'OK'},pagination.pages._current)" title="Tiendas">
					<ui-select-match placeholder="Seleccionar tienda..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="store in page.filters.store.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="store.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-2 br-15 b-0" ng-model="page.filters.instructor.selected" close-on-select="true" ng-disabled="page.filters.instructor.disabled" ng-change="getImages({success:true,detail:'OK'},pagination.pages._current)" title="Instructores">
					<ui-select-match placeholder="Seleccionar instructor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.instructor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-2 br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getImages({success:true,detail:'OK'},pagination.pages._current)" title="Supervisores">
					<ui-select-match placeholder="Seleccionar supervisor..."><span ng-bind="$select.selected.fullName | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {fullName: $select.search}">
						<div ng-bind-html="user.fullName | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.imageCategory.selected" close-on-select="true" ng-disabled="page.filters.imageCategory.disabled" ng-change="getImages({success:true,detail:'OK'},pagination.pages._current)" title="Supervisores">
					<ui-select-match placeholder="Seleccionar categoría..."><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="imageCategory in page.filters.imageCategory.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="imageCategory.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<div class="input-group">
					<button id="daterange" class="bg-gray-ps-1 pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" daterangepicker="page.filters.dateRange.options" date-begin="page.filters.dateRange.startDate" date-end="page.filters.dateRange.endDate" popup-placement="right" >
						<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{page.filters.dateRange.startDate | date: 'dd/MM/yyyy'}} - {{page.filters.dateRange.endDate | date: 'dd/MM/yyyy'}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
					</button>
				</div>
			</div>
		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<div class="overlay br-30" ng-show="page.overlay.show">
			<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
				<div>
					<p><strong>Cargando imágenes...</strong></p>
					<p class="text-center">
						<img src="images/loader.gif" alt="loader" class="size-45x45">
					</p>
				</div>
			</div>
		</div>

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href ng-click="getPromotions({success: true,detail: 'OK'})">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<div class="row">
							<div ng-repeat="image in page.images" ng-show="page.images.length">
								
								<div class="col-md-4" >

									<div style="border: solid #D9D9D9 1px; margin-bottom: 10px" ng-show="image.show">
										<a ng-href="{{image.url}}" target="_blank">
											<img style="margin: 0 auto;" class="img-responsive p-10" ng-src="{{image.url}}" alt="image_{{image.id}}" imageonload="image.show = true" data-html="true" uib-tooltip="Zona: {{image.zone_name}}  
												Dealer: {{image.dealer_name}}  
												Tienda: {{image.store_name}} 
												Creador:  {{image.creator_name}}
												Fecha:  {{image.created_at | date : 'dd/MM/yyyy'}}
												{{ image.comment != null ? 'Comentario:   ' : ''}} {{image.comment}}" tooltip-style="width:200px;" tooltip-placement="top">
										</a>
										<img uib-tooltip="Eliminar foto" ng-click="deleteImage(image.id)" style="position:absolute;width:30px;left: 50%;bottom: 25px;cursor:pointer" src="images/delete_pic.png" alt="image_{{image.url}}" >
									</div>
									<img src="images/loader.gif" alt="loader" class="size-20x20 text-center" ng-show="!image.show" style="position:relative;left: 50%">
								</div>
							
							</div>
							<h3 ng-show="!page.images.length" class="text-center">No se encontraron fotos</h3>
						</div>

						<div class="row" ng-show="page.images.length" >
							<div class="col-md-6" style="margin: 0 auto;float: none;">
								<pager all="pagination.pages.total" prev="decrementPage()" next="incrementPage()" change-page="getImages({success:true,detail:'OK'},pagination.pages._current)" current-page="pagination.pages._current" />
							</div>
						</div>


					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->

	</div>
	<!-- /page content -->

</div>


<script type="text/ng-template" id="deleteImage.html">

	<div class="modal-body text-gray">

		<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>

		<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>

		<div class="text-center">
			<button class="btn btn-danger btn-rounded-10 mb-10 mr-10" type="button" ng-show="modal.buttons.delete.show" ng-click="deleteImage({success: true,detail: 'OK'})" >{{modal.buttons.delete.text}}</button>

			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</div>
</script>
