.page {
  padding: 20px;
  background-image: url('http://dhg7r6mxe01qf.cloudfront.net/icons/admin/personaje_1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom; 
}
.page-full {
  height: 100%;
  padding: 0;
}
.page-core {
  position: absolute;
  width: 100%;
  height: 120%;
  // padding: 60px 10px;
  background-color: white;
}
