	<div class="modal-header">
		<h3 class="modal-title custom-font">Agregar imágenes</h3>
	</div>
	<div class="modal-body">


		<input type="file" class="form-control" ng-model="modal.images.src" base-sixty-four-input>

		<!-- <div class="add-files">
			<droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
		</div>

		<droplet ng-model="interface">
			<ul class="files">

				<li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
					<droplet-preview ng-model="model"></droplet-preview>
					<div class="delete" ng-click="model.deleteFile()">&times;</div>
					<div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
				</li>

			</ul>

		</droplet> -->
		<!-- <section data-droplet ng-model="interface"></section> -->

	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-border" ng-click="uploadImages()">Subir imágenes</button>
		<!-- <button class="btn btn-default btn-border" ng-click="interface.uploadFiles()">Subir imágenes</button> -->
		<button class="btn btn-default btn-border" ng-click="cancel()">Cerrar</button>
	</div>
