<header class="clearfix" ng-controller="HeaderCtrl">

	<!-- Branding -->
	<div class="branding {{main.settings.brandingColor}}">
		<img src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/menu_top.png" style="width:100%">
		<a class="brand" ui-sref="app.dashboard">
			<!-- <span><strong>Solutions 2GO</strong></span> -->
		</a>
		<a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
	</div>
	<!-- Branding end -->

	<!-- Left-side navigation -->
	<ul class="nav-left pull-left list-unstyled list-inline">
		<li class="sidebar-collapse divided-right">
			<a href="javascript:;" collapse-sidebar>
				<fa name="outdent"></fa>
			</a>
		</li>
	</ul>
	<!-- Left-side navigation end -->

	<!-- Right-side navigation -->
	<ul class="nav-right pull-right list-inline">

		<li class="dropdown nav-profile" uib-dropdown on-toggle="toggled(open)">

			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<img ng-src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/placeholder-user-photo.png" alt="prof_pic" class="img-circle size-30x30" ng-if="!page.user.image">
				<img ng-src="{{page.user.image}}" alt="prof_pic" class="img-circle size-30x30" ng-if="page.user.image">
				<span>{{page.user.fullName}} <fa name="angle-down"></fa></span>
			</a>

			<ul class="dropdown-menu animated littleFadeInRight">
				<li>
					<a style="cursor:pointer" ng-click="logout()">
						<fa name="sign-out"></fa>Salir
					</a>
				</li>
			</ul>

		</li>

	</ul>
	<!-- Right-side navigation end -->



</header>
