<div id="sidebar-wrap" ng-controller="NavCtrl">

  <uib-accordion close-others="oneAtTime" >
    <uib-accordion-group is-open="status.isFirstOpen" nav-collapse>
    
      <uib-accordion-heading>
        <!-- Navigation <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i> -->
      </uib-accordion-heading>
      <ul id="navigation" ripple>
        <li ui-sref-active="active" ng-show="nav.dashboard.show"><a ui-sref="app.dashboard"><fa name="dashboard"></fa> <span>Dashboard</span></a></li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.users')}" ng-show="nav.users.show">
          <a ui-sref="app.users"><fa name="user"></fa> <span>Usuarios</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.users.list"><fa name="caret-right"></fa> Lista</a></li>
            <li ui-sref-active="active"><a ui-sref="app.users.invite"><fa name="caret-right"></fa> Invitar</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.playStation')}" ng-show="nav.reports.show">
          <a ui-sref="app.playStation"><fa name="file-text-o"></fa> <span>Reportes/Tareas</span></a>
          <ul>
            <li ui-sref-active="active" ng-show="nav.reports.reports.show"><a ui-sref="app.playStation.reports"><fa name="caret-right"></fa> Reportes</a></li>
            <li ui-sref-active="active" ng-show="nav.reports.myReportsMyTasks.show"><a ui-sref="app.playStation.my-reports"><fa name="caret-right"></fa> Mis Reportes/Tareas</a></li>
            <li ui-sref-active="active"><a ui-sref="app.playStation.create-task"><fa name="caret-right"></fa> Crear Tarea</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.masters')}" ng-show="nav.masters.show">
          <a ui-sref="app.masters"><fa name="university"></fa> <span>Maestros</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.masters.zones"><fa name="caret-right"></fa> Zonas</a></li>
            <li ui-sref-active="active"><a ui-sref="app.masters.dealers"><fa name="caret-right"></fa> Dealers</a></li>
            <li ui-sref-active="active"><a ui-sref="app.masters.stores"><fa name="caret-right"></fa> Tiendas</a></li>
            <li ui-sref-active="active"><a ui-sref="app.masters.products"><fa name="caret-right"></fa> Productos</a></li>
            <li ui-sref-active="active"><a ui-sref="app.masters.checklist"><fa name="caret-right"></fa> Checklists</a></li>
            <li ui-sref-active="active"><a ui-sref="app.masters.stock-break"><fa name="caret-right"></fa> Quiebre de stock</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-show="nav.promotions.list.show"><a ui-sref="app.promotions.list"><fa name="tag"></fa> <span>Promociones</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.inbox.list"><fa name="envelope"></fa> <span>Inbox</span></a></li>

  </uib-accordion>
</div>
