<div class="page page-ng-table">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>
		<button class="pull-right bg-yellow-ps pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white" ng-click="createInbox({success: true,detail: 'OK'})" ng-show="page.buttons.sendInbox.show">Enviar mensaje &nbsp;&nbsp;<i class="fa fa-envelope-o"></i></button>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.inbox.list"> Inbox</a>
				</li>
				<li>
					<a ui-sref="#">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href>
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<div class="row">
							<div class="col-md-12 mb-5">
								<div class="form-group">
									<label for="selUser" class="col-md-2 control-label" >Fecha/hora de envío</label>
									<div class="col-sm-4">
										<p class="input-group">
											<input type="text" class="form-control bg-red-ps br-15-l" datetime-picker="dd/MM/yyyy HH:mm" ng-model="page.dateTimePicker.date" is-open="page.dateTimePicker.open" ng-disabled="checkSendImmediate || page.dateTimePicker.disabled" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default bg-red-ps br-15-r" ng-click="openCalendar($event)" ng-disabled="checkSendImmediate || page.dateTimePicker.disabled"><i class="fa fa-calendar"></i></button>
											</span>
										</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Enviar de inmediato</label>
									<div class="col-sm-1">
										<input type="checkbox" ng-model="checkSendImmediate" ng-init="checkSendImmediate = true" ng-disabled="page.checkSendImmediate.disabled">
									</div>
								</div>
							</div>
						</div>
						<hr class="mt-10 mb-10">
						<div class="row">
							<div class="col-md-12 mb-5">
								<label for="selUser" class="col-md-2 control-label" >Usuarios</label>
								<div class="col-md-4">
									<ui-select class="bg-blue-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
										<ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
										<ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
											<div ng-bind-html="user.fullName | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="col-sm-5 control-label">Enviar a todos</label>
										<div class="col-sm-3">
											<input type="checkbox" ng-model="checkSentToAll" ng-init="checkSentToAll = true" ng-disabled="page.checkSendToAll.disabled">
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="mt-10 mb-10">
						<div class="row">
							<div class="col-md-12 mb-5">
								<label for="selUser" class="col-md-2 control-label">Acción</label>
								<div class="col-md-4">
									<ui-select class="yellow-ps br-15 b-0" ng-model="page.messageAction.selectedMessageAction" sortable="true" ng-disabled="page.messageAction.disabled">
										<ui-select-match placeholder="Seleccione acción..."><span ng-bind="$select.selected.name"></span></ui-select-match>
										<ui-select-choices repeat="messageAction in (page.messageActions | filter: $select.search) track by messageAction.id"><span ng-bind="messageAction.name"></span></ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<hr class="mt-10 mb-10">
						<div class="row">
							<div class="col-md-12 mb-5">
								<div class="form-group">
									<label class="col-md-2 control-label" >Título</label>
									<div class="col-md-9">
										<div class="form-group">
											<input type="text" class="form-control underline-input" ng-model="page.subject.text" placeholder="Asunto/título" ng-disabled="page.subject.disabled">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<text-angular ng-model="page.html.value" ta-disabled="page.html.disabled"></text-angular>
							</div>
						</div>

					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->





	</div>
	<!-- /page content -->

	<script type="text/ng-template" id="messageModal.html" class="">
		<div class="modal-body text-gray">
			<div class="row mb-20">
				<div class="col-md-12">
					<h4 class="text-center">{{modal.message.title}}</h4>
				</div>
			</div>
			<div class="text-center">
				<button class="btn br-15 bg-red-ps" ng-click="cancel()">Aceptar</button>
			</div>
		</div>
	</script>

</div>
