<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>

    <!-- <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-blue-ps no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>

    </div> -->

    <div class="row">
      <div class="col-md-2">
        <ui-select class="bg-orange-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
          <ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
          <ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <ui-select class="bg-yellow-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
          <ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
          <ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <ui-select class="bg-red-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
          <ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
          <ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <ui-select class="bg-blue-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
          <ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
          <ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <ui-select class="bg-blue-ps br-15 b-0" multiple ng-model="page.user.selectedUser" sortable="true" close-on-select="false" ng-disabled="checkSentToAll || page.user.disabled">
          <ui-select-match placeholder="Seleccionar usuarios...">{{$item.fullName}}</ui-select-match>
          <ui-select-choices repeat="user in page.users | propsFilter: {fullName: $select.search}">
            <div ng-bind-html="user.fullName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <p class="input-group">
          <input type="text" class="form-control bg-red-ps br-15-l b-0" datetime-picker="dd/MM/yyyy HH:mm" ng-model="page.dateTimePicker.date" is-open="page.dateTimePicker.open" ng-disabled="checkSendImmediate || page.dateTimePicker.disabled" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default bg-red-ps br-15-r b-0 pt-7 pb-7" ng-click="openCalendar($event)" ng-disabled="checkSendImmediate || page.dateTimePicker.disabled"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

  </div>

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-md-6">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header bg-greensea dvd dvd-btm">
          <h1 class="custom-font"><strong>Statistics </strong>Graph</h1>
          <ul class="controls">
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget bg-greensea" ng-controller="StatisticsChartCtrl">

          <flot dataset="dataset" options="options" height="250px"></flot>

        </div>
        <!-- /tile widget -->
      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->

    <div class="col-md-6">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header bg-greensea dvd dvd-btm">
          <h1 class="custom-font"><strong>Statistics </strong>Graph</h1>
          <ul class="controls">
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget bg-greensea" ng-controller="StatisticsChartCtrl">

          <flot dataset="dataset" options="options" height="250px"></flot>

        </div>
        <!-- /tile widget -->
      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

  <div class="row">
    <div class="col-md-3">
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
      <!-- /tile -->
    </div>
    <div class="col-md-3">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
      <!-- /tile -->
    </div>
    <div class="col-md-3">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
      <!-- /tile -->
    </div>
    <div class="col-md-3">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">

              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
      <!-- /tile -->
    </div>
  </div>





</div>
